h1, h2{
    text-align: center;
}

h1{
    font-family: sans-serif;
    text-decoration: underline;
}
table{
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    border-spacing: 0;
}

th {
    background-color: rgb(199, 244, 244);
    padding: 10px 20px;
}

td{
    padding: 5px 10px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.tag{
    background-color: rgb(251, 242, 231);
    font-family: monospace, serif;
    text-align: center;
}

.example{
    font-family: monospace, serif;
}
.heading{
margin-top: 50px;
}
